<div class="container">
  <h1><%= params[:article] %></h1>

      <ul>
        <li><%= @current_article.name%></li>
        <li><%= @current_article.description%></li>
        <li><%= @current_article.price%></li>
        <li><%= @current_article.email%></li>
      </ul>

</div>
